/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* .forthe-header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
  padding-block: 8px
}

.forthe-header h1 {
  font-family: Inter;
  font-size: 23px;
  font-weight: 700;
  line-height: 27.84px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #ffff;
}
.forthe-header a{
  color: #FFFFFF;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.52px;
  letter-spacing: -0.02em;
  text-align: left;

}

header {
  background-color: #7749F8;
} */
/* .main-logo {
  width: 1200px;
  margin: auto;
  padding-block: 32px;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 48.41px;
  letter-spacing: -0.02em;
  text-align: left;

}

.main-logo h2 {
  color: #343A40;
}

.back {
  background: #FFFFFF;
  border-bottom: dotted #DEE2E6
}

.back-height {
  height: 83.5vh;
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-form {
  width: 456px;
  background-color: #FFFFFF;
  padding-block: 65px;
  padding-inline: 108px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 4px 10px 0px #0000001F;
  border-radius: 4px;
}

.custom-form input {
  display: block;
  width: 240px;
  outline: #7749F8;
  border: 1px solid #DEE2E6;
  padding: 5px 0px 5px 8px;
  border-radius: 6px;
}

.custom-form input:focus {
  border: 1px solid #7749F8;
  box-shadow: 0px 0px 0px 3px #6610F226;

}

button.cust-btn {
  width: 84px;
  margin: auto;
  background-color: #7749F8;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  padding-block: 10px;
  border-radius: 6px;

} */

/* the new */

/* .dasboard-height {
  width: 1200px;
  margin: auto;
  padding-top: 29px;
  background-color: #f8f9fa;
}

.dasboard-back {
  background-color: #f8f9fa;
}

.dashboard-form {
  width: 881px;
  background-color: #FFFFFF;
  padding-block: 30px;
  padding-inline: 67px 54px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 4px 10px 0px #0000001F;
  border-radius: 4px;
}

.dashboard-form input {
  display: block;
  outline: #7749F8;
  border: 1px solid #DEE2E6;
  padding: 5px 0px 5px 8px;
  border-radius: 6px;
}

.dashboard-form input:focus {
  border: 1px solid #7749F8;
  box-shadow: 0px 0px 0px 3px #6610F226;

}

.dashboard-text {
  border: 1px solid #DEE2E6;
  height: 124px;
  resize: none;
  outline: none;
  padding-left: 16px;
  border-radius: 4px;

}

button.dashboard-btn {
  width: 135px;
  background-color: #7749F8;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  padding-block: 10px;
  border-radius: 6px;

}

.blog2 {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.89px;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 43px;
}

.card {
  max-width: 881px;
  padding: 22px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #DEE2E6;
  font-family: Arial, sans-serif;
}
.card-header {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.profile-img {
  object-fit: cover;
}
.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333333;
}

.card-author {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;
  color: #6C757D;

}

.card-description {
  color: #6C757D;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;

}

.card-actions {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.card-actions a {
  color: #7749F8;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: left;

}

.card-actions a:hover {
  text-decoration: underline;
}
.car-text{
  padding-top: 16px;
}
.sec-blogpadding{
  margin-top: 20px;
  margin-bottom: 20px;
}
 */

/* ---------------------------------------------------------------- */

.text-cust {
  font-family: Inter !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
  text-align: left !important;
  color: #6C757D !important;
}

.text-publish {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  color: #ffff;
}

.custname {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: left;

}

.custom-pass {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: left;

}
.btn-cust{
  font-family: Inter !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
  text-align: left !important;

}
.custom-txt h2{
  color: #7749F8;
font-family: Inter;
font-size: 40px;
font-weight: 700;
line-height: 48.41px;
letter-spacing: -0.02em;
text-align: right;

}
.custom-txt p{
  font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 24.2px;
text-align: right;
color: #152536;
}
/* @media only screen and (max-width: 1182px) {
  
} */
@media only screen and (max-width: 476px) {
  .on-response{
    padding-inline: 30px !important;
  }
  
  .on-response inp{
    max-width: 400px !important;
  }

}